{% block body %}

{% block title %}Attestation d'emploi{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <input type="text">
        <button type="submit">Envoyer</button>
    </div>
</div>

{% endblock %}


{% block script %}

{% endblock %}

{% endblock %}