<!DOCTYPE html>
    <html>
        <body>
            <div>
                <h1 style="text-align: center; color:red; text-decoration: underline;" >
                    SALUT!
                </h1>
            </div>
        </body>
</html>