<!DOCTYPE html>
<html>
	<head>
		<title>Dodson</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Bonjour,</h1>
		<p>C'est juste un test pour vérifier que snappy a bien fonctionné!</p>
		<p>Merci</p>
	</body>
</html>