<span style="" class="quantity quantity_suite" title="{{messages|length}}">{{messages|length}}</span>
<div role="menu" class="dropdown-menu message-dd animated zoomIn">
    <div class="hd-message-info">
        <div class="hd-message-sn">
            <div class="hd-mg-ctn">
                <p style="font-size: 11px;"><i class="fas fa-exclamation-circle"></i>&nbsp;{{msg}}</p>
            </div>
        </div>
        <hr/>
        <div class="tous_message">
                <a style="font-size: 15px;" href="{{url('transmission_index')}}">
                <i class="fas fa-eye"></i>&nbsp;Voir tous les messages
            </a>
        </div>        
        
    </div>
</div>



